
* {
    margin: 0;   /*預設邊界修改為0*/
    padding: 0;  
}

body {
    margin-top: 80px!important;
}

ul.navbar-right{
    margin-right: 0;
}

p.warning{
    color: red;
}

.nav{
    font-family: 'jf open 粉圓 1.1', sans-serif;
}

.navbar{
    font-family: 'jf open 粉圓 1.1', sans-serif;
}